In [3]:
import matplotlib
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import mean_absolute_error as mae
from sklearn.metrics import accuracy_score as acc
from sklearn.metrics import make_scorer
from sklearn.dummy import DummyRegressor
from sklearn.dummy import DummyClassifier
from sklearn.preprocessing import LabelEncoder

In [4]:
df = pd.read_csv("./bank-additional-full.csv", delimiter = ";")

In [5]:
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [6]:
df_dummies = pd.get_dummies(df)
del df_dummies["duration"]
del df_dummies["y_no"]


df_dummies.head()

,age,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,job_admin.,...,month_sep,day_of_week_fri,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_failure,poutcome_nonexistent,poutcome_success,y_yes
0,56,1,999,0,1.1,93.994,-36.4,4.857,5191.0,0,...,0,0,1,0,0,0,0,1,0,0
1,57,1,999,0,1.1,93.994,-36.4,4.857,5191.0,0,...,0,0,1,0,0,0,0,1,0,0
2,37,1,999,0,1.1,93.994,-36.4,4.857,5191.0,0,...,0,0,1,0,0,0,0,1,0,0
3,40,1,999,0,1.1,93.994,-36.4,4.857,5191.0,1,...,0,0,1,0,0,0,0,1,0,0
4,56,1,999,0,1.1,93.994,-36.4,4.857,5191.0,0,...,0,0,1,0,0,0,0,1,0,0

In [19]:
outcomes_of_interest = ["y_yes"]
n_bins = 1

features = ["pdays","poutcome_success","euribor3m","nr.employed","emp.var.rate","poutcome_nonexistent","month_mar","cons.conf.idx","contact_cellular","contact_telephone","previous","month_oct","cons.price.idx","month_may","month_sep"]

X_df = df_dummies[features].copy()
y_df = df_dummies[outcomes_of_interest].copy()

y_df[outcomes_of_interest] = y_df[outcomes_of_interest].apply(LabelEncoder().fit_transform)
y_df['id'] = range(1, len(df_dummies) + 1)

X_df.head()

X = X_df.values
y = y_df.values.T[0]

#sns_plot = sns.jointplot(x="id", y="y_yes", data=y_df, ratio = 2)

# sns.distplot(y, kde=False, rug=True)

#sns_plot.savefig("y_yes_histogram.png",bbox_inches='tight')
#sns_plot.savefig("y_yes_histogram.pdf",bbox_inches='tight')

In [20]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import ExtraTreesClassifier

clf = ExtraTreesClassifier(n_estimators = 1000,max_depth = 3)

dummy_clf = DummyClassifier()
scores = cross_val_score(clf, X, y, cv=10,scoring = make_scorer(acc))

dummy_clf.fit(X,y)

print("ACC: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std()))
print("Dummy ACC: %0.2f")% (acc(y,dummy_clf.predict(X)))

ACC: 0.85 (+/- 0.14)
Dummy ACC: 0.80

In [9]:
clf.fit(X,y)

print acc(y,clf.predict(X))

0.88965232592

In [15]:
importances = clf.feature_importances_
std = np.std([tree.feature_importances_ for tree in clf.estimators_],
             axis=0)
indices = np.argsort(importances)[::-1]

print indices
# Print the feature ranking
print("Feature ranking:")

for f in range(X.shape[1]):
    print("%d. %s (%f)" % (f + 1, features[indices[f]],  importances[indices[f]]))
    
fig = plt.figure()
plt.title("Feature importances")
plt.bar(range(X.shape[1]), importances[indices],
       color="r", yerr=std[indices], align="center")
plt.xticks(range(X.shape[1]), np.array(features)[indices])
plt.xlim([-1, X.shape[1]])
fig.set_size_inches(15,8)
axes = plt.gca()
axes.set_ylim([0,None])

plt.savefig("importances.png",bbox_inches='tight')
plt.savefig("importances.pdf",bbox_inches='tight')

[ 2 61  7  8  4 60 49  6 42 43  3 52  5 50 53 59 33 34  0 10 17 44 48 14 47
 46 51 45 23 55 31 27  1 22 16 54 56  9 57 58 28 20 32 25 18 11 39 15 38 21
 36 30 19 26 41 12 37 40 13 24 29 35]
Feature ranking:
1. pdays (0.166759)
2. poutcome_success (0.141595)
3. euribor3m (0.133408)
4. nr.employed (0.133009)
5. emp.var.rate (0.091973)
6. poutcome_nonexistent (0.042839)
7. month_mar (0.032866)
8. cons.conf.idx (0.028192)
9. contact_cellular (0.025518)
10. contact_telephone (0.025137)
11. previous (0.024619)
12. month_oct (0.023694)
13. cons.price.idx (0.022752)
14. month_may (0.020285)
15. month_sep (0.017061)
16. poutcome_failure (0.009536)
17. default_no (0.008957)
18. default_unknown (0.007034)
19. age (0.006661)
20. job_blue-collar (0.005683)
21. job_student (0.005579)
22. month_apr (0.004811)
23. month_jun (0.004682)
24. job_retired (0.004388)
25. month_jul (0.002281)
26. month_dec (0.001784)
27. month_nov (0.001616)
28. month_aug (0.001503)
29. marital_single (0.001173)
30. day_of_week_mon (0.001095)
31. education_university.degree (0.000672)
32. education_basic.9y (0.000621)
33. campaign (0.000353)
34. marital_married (0.000183)
35. job_services (0.000164)
36. day_of_week_fri (0.000160)
37. day_of_week_thu (0.000157)
38. job_admin. (0.000156)
39. day_of_week_tue (0.000152)
40. day_of_week_wed (0.000111)
41. education_high.school (0.000100)
42. job_unknown (0.000097)
43. education_unknown (0.000066)
44. education_basic.4y (0.000060)
45. job_technician (0.000056)
46. job_entrepreneur (0.000050)
47. loan_no (0.000044)
48. job_self-employed (0.000041)
49. housing_yes (0.000035)
50. marital_divorced (0.000034)
51. housing_no (0.000030)
52. education_professional.course (0.000030)
53. job_unemployed (0.000026)
54. education_basic.6y (0.000023)
55. loan_yes (0.000019)
56. job_housemaid (0.000018)
57. housing_unknown (0.000018)
58. loan_unknown (0.000012)
59. job_management (0.000011)
60. marital_unknown (0.000009)
61. education_illiterate (0.000004)
62. default_yes (0.000000)